*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* Make full page height */
html, body {
  height: 100%;
  width: 100%;
}
.parent{

  gap:10px;
  width:100%;
  background-color:#111;
  flex-wrap:wrap;
  display:flex;
}
.card{
  height: 400px;
  width: 300px;
  background-color:#fff;
padding:30px;
display:flex;
flex-direction: column;
justify-content: space-between;
  border-radius: 30px;
}
.card top{
  display:flex;
  justify-content: space-between;
  align-items: center;

}


.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border:1px solid #dadada;
  padding:2px;

}
 .top button{
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left:115px;
  
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid #b1b1b1;
  padding :10px 0;
}
.center h3{
  font-size:17px;
  font-weight: 500;
}
.center span{
  font-size:9px;
  font-weight: 400;
  color:8b8b8b;

}
.center h2{
  font-size:20px;

}
.center .tags{
  display:flex;
  gap:5px;
  margin-top:10px;
}
.center .tags h4{
  font-size:14px;
  background-color: #dadada;
  color:#111;
  padding:3px 6px;
  font-weight: 500;

}



